// SECTION bulk pagination :: START

.bulk__pagination

	.order__tabs-wrapper
		.order__tabs

			a.order__tabs-left(href="#" class="" title="")
				i.icon-font.icon-corner

			.order__tabs-middle
				a(href="#" class="" title="") Next

			.order__tabs-right
				a(href="#" class="" title="")!= "2"
				a.is-active(href="#" class="" title="")!= "3"
				a(href="#" class="" title="")!= "4"
				a(href="#" class="" title="")!= "5"
				a(href="#" class="" title="")!= "6"

// SECTION bulk pagination :: END
