// SECTION single verification :: START

-
	var dataFormObj = {
		inputName: {
			classMod: "",
			uniqueName: "single_verify",
			labelVal: "",
			inputType: "text",
			inputClassMod: "",
			placeholderVal: "Enter Email Address",
			val: ""
		}
	};

section#singleVerification.singleVerification
	.c-grid
		.singleVerification__wrapper

			form.c-form.singleVerification__form(action='' method='' autocomplete='off' class!= (pageSubClassName === 'p-single-verification-2') ? 'is-keyup':(pageSubClassName === 'p-single-verification-3') ? 'is-valid':(pageSubClassName === 'p-single-verification-4') ? 'is-invalid':(pageSubClassName === 'p-single-verification-5') ? 'is-warning':'')
				.singleVerification__form-left

					+formInput(dataFormObj.inputName)

					.singleVerification__form-indicate
						p!= (pageSubClassName === 'p-single-verification-4' || pageSubClassName === 'p-single-verification-5') ? 'Invalid':'Valid'

				.singleVerification__form-right

					button.singleVerification__btn(type="button" name="") Verify

				.singleVerification__form-info
					.singleVerification__form-info-cover
						.singleVerification__form-info-col
							div
								i.safe
							div
								p!= "<span>Safe to send :</span> <strong>No</strong>"
						.singleVerification__form-info-col
							div
								i.address
							div
								p!= "<span>Role address :</span> <strong>No</strong>"
						.singleVerification__form-info-col
							div
								i.accept
							div
								p!= "<span>Accept All :</span> <strong>No</strong>"
						.singleVerification__form-info-col
							div
								i.disposable
							div
								p!= "<span>Disposable :</span> <strong>Yes</strong>"


// SECTION single verification :: END
