// SECTION api :: START

section#api.api.api--full
	.c-grid

		.api__wrapper
			.api__wrapper-left

				.api__list-wrapper
					.api__list-head
						div
							p.api__list-title Api List
						div
						a.api__list-btn(href="#" class="" title="") Create API

					.api__list-body
						each val, idx in [1,2,3,4,5,6,7]
							.api__list-link(class= (idx === 0)?'is-active':'')
								div
									p MyApi_2018
									span 06/07/17 12:30 AM
								div
									a(href="#apiRemove" class="" title="" data-effect="mfp-zoom-in" popup-js)
										i.icon-font.icon-trash

			.api__wrapper-right

				.api__chart
					.api__chart-head
						.api__chart-head--left
							p!= "MyApi_2018"
							span!= "06/07/17 12:30 AM"
						.api__chart-head--right
							a.is-active(href="#" class="" title="")!= "Today"
							a(href="#" class="" title="")!= "Yesterday"
							a(href="#" class="" title="")!= "Week"
							a(href="#" class="" title="")!= "Month"
							a(href="#" class="" title="")!= "Year"

					.api__chart-body
						div

					.api__chart-footer
						div

							.api__chart-ind
								div
									.api__chart-ind-left
										i.valid
										p Valid
									.api__chart-ind-right
										span 300
								div
									.api__chart-ind-left
										i.invalid
										p Invalid
									.api__chart-ind-right
										span 20
								div
									.api__chart-ind-left
										i
										p Risky
									.api__chart-ind-right
										span 26

						div
							form.api__chart-form(action="" method="" autocomplete="")
								div
									p!= "Your API key"
								div
									input(type="text" name="" placeholder="" value="")
									button(type="submit") Regenerate

// SECTION api :: END
